PORT = 3000

CLOUDINARY_CLIENT_NAME=
CLOUDINARY_CLIENT_API=
CLOUDINARY_CLIENT_SECRET=

MONGODB_URI=

JWT_SECRET_KEY=
JWT_EXPIRY=
COOKIE_EXPIRY=


NODE_ENV=development

FRONT_END_URL=http://localhost:5173